.mainlist td {
	width:9%;
	background-color: #0f2c52;
	color: white;
	text-align: center;
	padding: 2px;
}

.mainlist a:link {
	color: yellow;
}

.mainlist a:visited {
	color: #f0e5c9;
}

.mainlist a:hover {
	color: #c5f0e0;
}

h3 {
	text-align: center;
	margin-bottom: 4px;
}

p {
	width: 75%;
	margin: auto;
}

h6 {
	margin: auto;
	text-align: center;
}

#when {
	text-align: center;
	padding: 4px;
}

img {
	display: none;
	margin: auto;
}

.smaller {
	height: 500px;
}

.goodfit {
	height: 100%
}

article:hover {
	background-color: #f7f7d5;
}

article:active img {
	display: block;
}

article:hover p#why {
	color: #0f2c52;
}

article:hover p#what {
	color: #0f2c52;
}